
<div class="row">
  <div class="col-md-3 col-xs-8">
    <h2>Issue new asset</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Asset name</td>
          <td><input type="text" class="form-control" [(ngModel)]="assetName" [disabled]="isProcessing" /></td>
        </tr>
        <tr>
          <td>Initial issuance</td>
          <td><input type="number" class="form-control" [(ngModel)]="initialIssuance" [disabled]="isProcessing"  /></td>
        </tr>
        <tr>
          <td></td>
          <td><button (click)="issue()" [disabled]="isProcessing" type="button" class="btn btn-primary">Issue</button></td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="alert alert-success" *ngIf="msg && msg!=''">{{msg}}</div>
            <div class="alert alert-danger" *ngIf="errMsg && errMsg!=''">{{errMsg}}</div>
      </tbody>
    </table>
  </div>
</div>
