
<div class="row">
  <div class="col-md-3 col-xs-8">
    <div *ngIf="user && user.isLoggedIn">
      <h2>
        User is logged in as <span>{{user.name}}</span>
      </h2>
    </div>
    <div *ngIf="!user || user.isLoggedIn==false">
      <h2>Login</h2>
      <div class="alert alert-warning" *ngIf="errMsg && errMsg!=''">{{errMsg}}</div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Username</td>
            <td><input type="text" class="form-control" [(ngModel)]="userName" /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" class="form-control" [(ngModel)]="password" /></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button (click)="login() "type="button" class="btn btn-primary">Login</button>
              <button (click)="register() "type="button" class="btn btn-info">Register</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <span>{{randomQuote}}</span>
    </div> 
  </div>
</div>
