
<div class="row">
  <div class="col-md-3 col-xs-8">
    <h2>Login</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Username</td>
          <td><input type="text" class="form-control text-right" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" class="form-control text-right" /></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="button" class="btn btn-primary text-right">Login</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
