<table class="table table-striped">
	<tbody>
		<tr>
			<td>Asset</td>
			<td><input type="text" class="form-control" /></td>
		</tr>
		<tr>
			<td>Current Balance</td>
			<td class="text-right">10 000</td>
		</tr>
		<tr>
			<td>Transfer to</td>
			<td><input type="text" class="form-control" /></td>
		</tr>
		<tr>
			<td>Amount</td>
			<td><input type="number" class="form-control text-right" /></td>
		</tr>
		<tr>
			<td></td>
			<td><button type="button" class="btn btn-primary">Transfer</button></td>
		</tr>
	</tbody>
</table>
