
<div class="row">
  <div class="col-md-3 col-xs-8">
    <h2>Transfer Assets</h2>
    <br />
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Asset</td>
          <td><input type="text" class="form-control text-right" value="RMB Test Token" disabled /></td>
        </tr>
        <tr>
          <td>Current Balance</td>
          <td><input type="text" class="form-control text-right" value="10000" disabled /></td>
        </tr>
        <tr>
          <td>Transfer to</td>
          <td><input type="text" class="form-control text-right" /></td>
        </tr>
        <tr>
          <td>Amount</td>
          <td><input type="number" class="form-control text-right" /></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="button" class="btn btn-primary text-righ">Transfer</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
