
<div class="row">
  <div class="col-md-3 col-xs-8">
    <h2>Transfer Assets</h2>
    <br />
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Asset</td>
          <td>
  					<input [(ngModel)]="selectedAsset"
         					 [typeahead]="assets"
         					 (typeaheadOnSelect)="assetOnSelect($event)"
         					 class="form-control">
				  </td>
        </tr>
        <tr>
          <td>Current Balance</td>
          <td><input type="text" class="form-control text-right" [(ngModel)]="assetBalance" disabled /></td>
        </tr>
        <tr>
          <td>Transfer to</td>
          <td>
  					<input [(ngModel)]="selectedCounterparty"
         					 [typeahead]="counterpartyNames"
         					 (typeaheadOnSelect)="counterpartyOnSelect($event)"
         					 class="form-control">
					</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td><input type="number" class="form-control text-right" [(ngModel)]="amountToTransfer"  /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button (click)="transferAsset() "type="button" class="btn btn-primary">Login</button>
					</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
